<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="android.override.tests">

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="android.override"
                     android:label="Override Framework Tests">
    </instrumentation>
</manifest>
