<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="android.override">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <!-- TODO: Require a permission to be able to bind to the service -->
        <service android:name=".OverrideCommanderService">
            <intent-filter>
                <action android:name="android.override.OverrideCommanderService"/>
            </intent-filter>
        </service>

        <receiver android:name=".BootUpReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
