<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="android.override">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <service android:name=".OverrideSensorService" android:enabled="true">
            <intent-filter>
                <action android:name="android.override.OverrideSensorService"/>
            </intent-filter>
        </service>

        <service android:name=".OverrideLocationService" android:enabled="true">
            <intent-filter>
                <action android:name="android.override.OverrideLocationService"/>
            </intent-filter>
        </service>

        <service android:name=".RandomWalkLocationProvider" android:enabled="true">
            <intent-filter>
                <action android:name="android.override.RandomWalkLocationProvider"/>
            </intent-filter>
        </service>

        <receiver android:name=".BootUpReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".OverrideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
